In [1]:
# Sunday December 10 ,2023
# CSC461 – Assignment4 – NLP
# Muhammad Umer Aamir
# FA21-BSE-114
# NLP Token BoW ,Tf , IDf , tf* IDf , Cosine Similarity , Mahattan Disatance , euclidean Distance

In [2]:
# imports
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import math
import pandas as pd
import numpy as np
from scipy.spatial.distance import cityblock

In [3]:
#given sentences

s1 = "data science is one of the most important courses in computer science"
s2 = "this is one of the best data science courses"
s3 = "the data scientists perform data analysis"

In [4]:
#combining to make corpus
corpus = [s1, s2 , s3]
count_vectorizer = CountVectorizer()
c_vector_matrix_exp1 = count_vectorizer.fit_transform(corpus)

In [5]:
#geting Vocabulary Out

tokens = count_vectorizer.get_feature_names_out()

In [6]:
#BoW Matrix
bow = pd.DataFrame(data = c_vector_matrix_exp1.toarray(), columns = tokens)
bow

,analysis,best,computer,courses,data,important,in,is,most,of,one,perform,science,scientists,the,this
0,0,0,1,1,1,1,1,1,1,1,1,0,2,0,1,0
1,0,1,0,1,1,0,0,1,0,1,1,0,1,0,1,1
2,1,0,0,0,2,0,0,0,0,0,0,1,0,1,1,0

In [7]:
# Tf Term Frequency
tf = bow.div(bow.sum(axis=1), axis=0)
tf

,analysis,best,computer,courses,data,important,in,is,most,of,one,perform,science,scientists,the,this
0,0.000000,0.000000,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.000000,0.166667,0.000000,0.083333,0.000000
1,0.000000,0.111111,0.000000,0.111111,0.111111,0.000000,0.000000,0.111111,0.000000,0.111111,0.111111,0.000000,0.111111,0.000000,0.111111,0.111111
2,0.166667,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.166667,0.166667,0.000000

In [ ]:
# Calculate IDF

N = bow.shape[0]
df = (bow > 0).sum(axis=0)
# idf formula
idf = np.log10(N / df) + 1
idf_tbl = pd.DataFrame(list(idf.items()), columns=['token', 'idf'])
idf_tbl

In [9]:
#convert tf.idf matrix to a Pandas dataframe

tfidf_vect_exp1 = TfidfVectorizer()
t_tfidf_matrix_exp1 = tfidf_vect_exp1.fit_transform(corpus)
t_tfidf_matrix_exp1

df_t_exp1 = pd.DataFrame(data = t_tfidf_matrix_exp1.toarray(), columns = tokens)
df_t_exp1

,analysis,best,computer,courses,data,important,in,is,most,of,one,perform,science,scientists,the,this
0,0.000000,0.000000,0.327476,0.249054,0.193412,0.327476,0.327476,0.249054,0.327476,0.249054,0.249054,0.000000,0.498107,0.000000,0.193412,0.000000
1,0.000000,0.422968,0.000000,0.321678,0.249812,0.000000,0.000000,0.321678,0.000000,0.321678,0.321678,0.000000,0.321678,0.000000,0.249812,0.422968
2,0.459115,0.000000,0.000000,0.000000,0.542321,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.459115,0.000000,0.459115,0.271161,0.000000

In [10]:
#generate cosine similarity matrix

c_cosine_similarity_matrix_exp1 = cosine_similarity(c_vector_matrix_exp1)
c_cosine_similarity_matrix_exp1

array([[1.        , 0.71269665, 0.28347335],
       [0.71269665, 1.        , 0.35355339],
       [0.28347335, 0.35355339, 1.        ]])

In [11]:
#convert cosine similarity matrix to Pandas dataframe

df_c_similarity_exp1 = pd.DataFrame(data = c_cosine_similarity_matrix_exp1)
df_c_similarity_exp1

          0         1         2
0  1.000000  0.712697  0.283473
1  0.712697  1.000000  0.353553
2  0.283473  0.353553  1.000000

In [12]:
#use get_feature_names_out() to extract vocabulary

t_tokens_exp1 = tfidf_vect_exp1.get_feature_names_out()
t_tokens_exp1

array(['analysis', 'best', 'computer', 'courses', 'data', 'important',
       'in', 'is', 'most', 'of', 'one', 'perform', 'science',
       'scientists', 'the', 'this'], dtype=object)

In [13]:
# cosine similarity matrix

t_cosine_similarity_matrix_exp1 = cosine_similarity(t_tfidf_matrix_exp1)
df_t_similarity_exp1 = pd.DataFrame(data = t_cosine_similarity_matrix_exp1)
df_t_similarity_exp1

          0         1         2
0  1.000000  0.577324  0.157338
1  0.577324  1.000000  0.203217
2  0.157338  0.203217  1.000000

In [14]:
#manhattan distance) between three document 

cityblock(df_t_exp1.iloc[0], df_t_exp1.iloc[1],df_t_exp1.iloc[2])

0.04587985950633272

In [15]:
# euclidean distance between two document  s1 and s2

math.dist(df_t_exp1.iloc[1], df_t_exp1.iloc[2])

1.2623649438617415

In [16]:
# euclidean distance between two document  s0 and s1

math.dist(df_t_exp1.iloc[0], df_t_exp1.iloc[1])

0.9194300544993212

In [17]:
# euclidean distance between two document  s2 and s0

math.dist(df_t_exp1.iloc[2], df_t_exp1.iloc[0])

1.2982006665010317